<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Dialeto SQL  -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <!-- Configurações da conexão -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    
    <!-- Pool de conexões JDBC -->
    <property name="hibernate.connection.pool_size">1</property>
    
    <!-- Gerenciamento de sessão -->
    <property name="hibernate.current_session_context_class">thread</property>
    
    <!-- Desabilita a cache -->
    <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
            
    <!-- Exibir comandos SQL -->
    <property name="hibernate.show_sql">true</property>
    <!-- Cria as tabelas -->
    <property name="hbm2dd1.auto">validate</property>
    
    <mapping class="br.com.livraria.domain.Autor"/>
    <mapping class="br.com.livraria.domain.Funcionario"/>
    <mapping class="br.com.livraria.domain.Livro"/>
    <mapping class="br.com.livraria.domain.Venda"/>
    <mapping class="br.com.livraria.domain.Item"/>
  </session-factory>
</hibernate-configuration>
